.box{
    width: 500px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.green {
  background: green;
}
.orange {
  background: orange;
}